/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
} */

/* download 1 section */
.signup {
  /* background-color: #d30000; */
  color: #d30000;
  text-align: center;
}

.title {
  margin-left: 7rem;
  margin-right: 7rem;
}

/* .disclaimer {
  padding-left: 20rem;
  padding-right: 20rem;
} */

/* media query for disclaimer padding
@media (max-width: 767px) {
  .disclaimer {
    padding-left: 1rem;
    padding-right: 1rem;
  }
} */

/* .signup-container {
  display: flex;
  justify-content: center;
  align-items: center;
} */

/* section */
/* .visuals {
  text-align: center;
} */

/* how it works section */
.howitworks {
  text-align: center;
}

/* media query for how it works text on mobile */
@media (max-width: 767px) {
  .howitworkstext {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

.howitworkstext {
  margin-left: 5rem;
  margin-right: 5rem;
}

img {
  max-width: 100%;
  /* max-width: 50%;
  height: auto; */
}

body {
  overflow-x: hidden;
}

/* .image-container {
  width: 400px;
  height: 300px;
  overflow: hidden;
} */
/*
.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
} */

/* resize the image to cover the entire container */


/* .image-container {
  width: 500px;
  height: 500px;
  position: relative;
} */

/*images on right side*/
#item-1 {
  /* width: 100%;
  height: 100%; */
  z-index: 2;
  position: relative;
  height: 400px;
  width: 200px;
  margin-right: .8em;
}

/* image behind right */
#item-2 {
  /* width: 50%;
  height: 50%; */
  /* margin-top: 1rem;
  margin-left: 2rem; */
  z-index: 1;
  position: absolute;
  height: 300px;
  width: 500px;
  margin-top: 2rem;
  margin-right: 7em;
  right: 0;
}


.step-left {
  position: relative;

}


/* images on left side */
#item {
  z-index: 2;
  position: relative;
  /* position: relative; */
  height: 400px;
  width: 200px;
  margin-left: .8em;
  /* top: 0;
  left: 0; */
}

/*image behind left*/
#items {
  z-index: 1;
  position: absolute;
  height: 300px;
  width: 500px;
  top: 0;
  left: 0;
  margin-top: 2rem;
  margin-left: 7em;
}

/* media query for left side photos */
@media (max-width: 767px) {
  #items img {}
}



.step,
.step-left {
  overflow: hidden;
}

.text {
  font-weight: bold;
  font-size: xx-large;
}

.step-text {
  float: left;
  width: 30%;
  margin-left: 3rem;
  margin-top: 4rem;
}

.step-text2 {
  float: right;
  width: 30%;
  margin-right: 3rem;
  margin-top: 4rem;
}

.step img {
  float: right;
  width: 70%;
  /* margin-right: 3rem; */
}

.step-left img {
  float: left;
  width: 70%;
}


@media (max-width: 767px) {

  .step-text,
  .step-text2 {
    width: 100%;
    float: none;
    margin: 2rem 0;

  }

  .step-text {
    margin: 2rem 0;
  }

  .step-text2 {
    margin: 2rem 0;
  }

  .step img {
    float: none;
    width: 100%;
  }

  .step-left img {
    float: none;
    /* width: 100%; */
    margin-top: 2.5rem;
    /* object-fit: cover; */
  }

  #items {
    margin-top: 22em;
  }

}

/* @media screen and (min-width: 768px) {
  #items {
    margin-top: 25em;
  }
} */


/* section */
.module3head {
  text-align: center;
  display: flex;
}

/* media query for icons stacking on top of each other when on mobile phone */
@media (max-width: 767px) {
  .module3head {
    flex-direction: column;
  }
}

.icon-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

/* .icons {
  position: absolute;
  top: 60px;
  left: 0;
  margin-right: 10px;
} */

/* last section */
.phone2 {
  /* background-color: #d30000; */
  color: #d30000;
  text-align: center;
}

/* input styling */
input {
  align-items: center;
}

/* icons styling */
svg {
  height: 30vh;
  width: 30vw;
  color: #d30000;
  font-size: 24px;
  margin-bottom: 10px;
}

.icons {
  padding: 10px;
  margin: auto;
}

img {
  overflow: hidden;
  align-items: center;
  height: 55vh;
}

.imgcontainer {
  text-align: center;
}

/* .center {
  display: block;
  margin: auto;
} */


/* download button */

/*
hr {
  background-color: #d30000;
} */
