/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
} */

/* download 1 section */
.signup {
  background-color: #d30000;
  color: white;
  text-align: center;
}

.signup-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* section */
.visuals {
  text-align: center;
}

/* how it works section */
.howitworks {
  text-align: center;
}

img {
  max-width: 40%;
  height: auto;
}

.image-container {
  width: 400px;
  height: 300px;
  overflow: hidden;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* resize the image to cover the entire container */
}

.step {
  overflow: hidden;
  /* clear floats */
}

.text {
  font-weight: bold;
  font-size: xx-large;
}

.step-text {
  float: left;
  width: 50%;
  margin-left: 3rem;
  margin-top: 4rem;
}

.step-text2 {
  float: right;
  width: 50%;
  margin-right: 3rem;
  margin-top: 4rem;
}

.step img {
  float: right;
  /* float image to the right */
  width: 50%;
  /* make image take up half of the container */
}





/* section */
.module3head {
  text-align: center;
  display: flex;
}

.icon-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

/* .icons {
  position: absolute;
  top: 60px;
  left: 0;
  margin-right: 10px;
} */

svg {
  font-size: 24px;
  margin-bottom: 10px;
}

/* last section */
.phone2 {
  background-color: #d30000;
  color: white;
  text-align: center;
}

/* input styling */
input {
  align-items: center;
}

/* icons styling */
svg {
  height: 30vh;
  width: 30vw;
  color: #d30000;
}

img {
  overflow: hidden;
  align-items: center;
  height: 55vh;
}

.imgcontainer {
  text-align: center;
}

/* .center {
  display: block;
  margin: auto;
} */
